* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.w64 {
    width: 64%;
    max-width: 1300px;
}

.w50 {
    width: 50%;
    max-width: 1000px;
}

/* Header */
/* Nav */

header nav {
    height: 56px;
    background-color: white;
    padding: 0 1%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #B4D0E7;
    position: fixed;
    width: 100%;
}

.half-nav {
    align-items: center;
}

.logo {
    width: 100px;
    padding-right: 10px;
}

.logo img {
    width: 100%;
}

nav li {
    padding: 0 10px;
}

nav button {
    background-color: #0061FF;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
}

/* /Nav */

header>div {
    background-color: #B4D0E7;
    justify-content: center;
}

.title-div {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.title-text {
    justify-content: space-between;
    width: 100%;
}

.left-text {
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 100px 0 30px;
}

header span {
    margin: 20px 0;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 8px 16px;
}

.fa-arrow-down {
    font-size: 32px;
    margin-top: 40px;
}

.title-img {
    width: 70%;
}

.title-img>img {
    width: 100%;
}

/* /Header */
/* Main */

.central-top {
    margin: 50px auto;
}

h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.plan-input {
    margin-bottom: 40px;
    gap: 40px;
}

.col-4 {
    width: 30%;
    min-height: 400px;
    margin: 20px 0;
    border: 1px solid #DBDBDD;
    flex-direction: column;
}

.plans {
    justify-content: space-between;
}

.enterprise {
    margin: 20px 0;
    border: 1px solid #DBDBDD;
    min-height: 200px;
}

.partner {
    margin: 80px 0;
    justify-content: space-between;
}

.partner img {
    width: 50%;
}

.partner section {
    width: 45%;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
}

h4 {
    font-size: 16px;
}

.partner .button {
    color: black;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.operazioni {
    flex-wrap: wrap;
    justify-content: space-between;
}

.operazioni img {
    width: 100%;
}

.col-6 {
    width: 30%;
    margin: 20px 0;
    flex-direction: column;
    justify-content: space-evenly;
}

.central-title2 {
    margin-bottom: 100px;
    width: 70%;
}

.central-title2 a {
    text-decoration: underline;
    font-size: 12px;
}

.first {
    min-height: 360px;
    width: 100%;
    background-color: #F5F5F5;
}

.second {
    width: 100%;
    background-color: #B4D0E7;
    justify-content: center;
    align-items: center;
}

.square {
    width: 50%;
    height: 50%;
    background-color: brown;
    border: 1px solid black;
}

.business {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.business h2 {
    width: 60%;
}

.business .button {
    color: black;
    background-color: white;
}

.faq {
    margin: 40px auto;
}

.question {
    justify-content: space-between;
    align-items: center;
}

p {
    padding: 20px 0;
    font-size: 12px;
}

/* /Main */
/* Footer */

footer {
    background-color: black;
}

footer nav {
    margin: 0 auto;
    color: white;
    justify-content: space-between;
    padding: 60px 0;
}

footer h5 {
    margin-bottom: 20px;
}

footer li {
    padding: 5px 0;
    font-size: 12px;
}

.language {
    color: gray;
    font-size: 10px;
    margin: 0 auto;
    padding-bottom: 20px;
}

footer hr {
    width: 100px;
    border: 1px inset gray;
    margin-bottom: 20px;
}

footer span {
    font-size: 12px;
    padding: 0 5px
}

/* /Footer */